@model MustChangePasswordViewModel
@{
    ViewData["Title"] = "Change Password";
}
<div class="container-sub">
    <h2>@ViewData["Title"]</h2>
    <form asp-controller="Account" asp-action="MustChangePassword" method="post" class="form-horizontal">
        @Html.HiddenFor(model => model.OldPassword)
        @Html.HiddenFor(model => model.ReturnURL)
        <h4>You must change your password.</h4>        
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="NewPassword" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a asp-action="Index" asp-controller="Home" class="btn btn-primary">Cancel</a>
                <button type="submit" class="btn btn-primary">Change</button>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
