@{
    ViewData["Title"] = "Verify Email Confirmation";
}
<div class="container-sub">
    <h2>@ViewData["Title"]</h2>
    <hr />
    <p>
        Please check your inbox to verify this email.
    </p>
</div>